@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.top-bar
{
    padding: 15px;
    background-color: white;
}

.top-bar .logo
{
    
}

.top-bar .logo img
{
    width: 15%;
}

.top-bar .logo a
{
    font-size: 25px;
    padding-left: 5px;
    font-family: serif;
    color: black;
    font-weight: 700;
}

.top-bar .nav 
{
    float: right;
    padding-top: 8px;
}

.top-bar .nav ul
{
    display: flex;
    list-style: none;
}

.top-bar .nav li a
{
    color: black;
    font-size: 17px;
    padding: 27px 25px 33px 25px;
}

.top-bar .nav li a:hover
{
    background-color: #2092f5;
    border-radius: 4px; 
    color: white;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .btn1
{
    margin-left: 15px;
}

.top-bar .btn1 a
{
    border: 2px solid #2092f5;
    border-radius: 50px;
    padding: 5px 25px 5px 25px;
    color: black;
    font-size: 17px;
}

.top-bar .btn1 a:hover
{
    background-color: #2092f5;
    color: white;
    opacity: 0.5s;
    transition: 0.5s;
}


/* dropdown buttn */

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.parent li>a:hover  .dropdown-content {display: block;}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
      
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
}
      
.sidenav a:hover 
{
    color: orange;
}
      
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
      
@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mobile-nav
{
    display: none;
}  

    
.openbtn, .closebtn
{
    cursor: pointer;
    font-size: 35px;
}
    
.openbtn
{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    display: none;
}

.top-bar .mobile-nav .icon1
{
    padding-top: 10%;
    display: flex;
    padding-left: 17%;
}

.top-bar .mobile-nav .icon1 i
{
    font-size: 35px;
}

.slider .slide
{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #292929;
}

.promo
{
    padding: 20px 0;
    background-color: white;
}

.promo .blue i
{
    font-size: 17px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    color: blue;
}

.promo .blue  a
{
    padding-left: 15px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.promo .blue i:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px;
}

.promo .blue a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: blue;
}

.promo .green i
{
    font-size: 17px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    color: green;
}

.promo .green a
{
    padding-left: 14px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.promo .green i:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px;
}

.promo .green a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: green;
}

.promo .pink i
{
    font-size: 17px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    color:rgb(248, 37, 108);
}

.promo .pink a
{
    padding-left: 15px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.promo .pink i:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px;
}

.promo .pink a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color:rgb(248, 37, 108);
}

.promo .skyblue i
{
    font-size: 17px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    color: rgb(9, 150, 245);
}

.promo .skyblue a
{
    padding-left: 12px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.promo .skyblue i:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px;
}

.promo .skyblue a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: rgb(9, 150, 245);
}

.promo .orange i
{
    font-size: 17px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    color: orangered;
}

.promo .orange a
{
    padding-left: 11px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.promo .orange i:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px;
}

.promo .orange a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: orangered;
}

.items 
{
    padding: 5% 0 25px 0;
}

.items .mall h6
{
    font-size: 20px;
    margin-bottom: 0;
    color: black;
}

.items .mall a
{
    float: right;
    font-size: 16px;
    color: blue;
}

.items .mall a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: black;
    
}

.items .online
{
    padding: 10px 0 10px 0;
}

.items .online .imgs1:hover
{
    box-shadow: 5px 3px 5px grey;
    transition: 0.5s;
}

.items .online .imgs1 img
{
    width: 100%;
}

.items .online .imgs1 .heading1 .photo img
{
    width: 20%;
    box-shadow: 2px 3px 3px grey;
    background-color: deepskyblue;
    display: block;
    margin: auto;
    position: relative;
    top: -10px;
}

.items .online .heading1
{
    text-align: center;
    background-color: black;
    padding: 0% 0px 10px 0px;
}

.items .online .heading1 h6
{
    font-size: 17px;
    margin-bottom: 0;
    color: white;
}

.items .online .heading1 p
{
    font-size: 14px;
    color: grey;
    margin-bottom: 0;
}

.collection
{
    padding: 5px 0 20px 0;
}

.collection .collect h6
{
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

.collection .collect a
{
    float: right;
    font-size: 16px;
    color: blue;
}

.collection .collect a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    color: black;
}

.collection .product
{
    padding-top: 15px;
}

.collection .product .tittle
{ 
    text-align: center;
}

.collection .product .tittle h6
{
    font-size: 16px;
    margin-bottom: 0;
    color: black;
}

.collection .product .tittle p
{
    font-size: 13px;
    margin-bottom: 0;
    color: gray;
}

.collection .product .main
{
    background-color: white;
    padding: 20px 25px 20px 25px;
    margin: 2px -27px 2px 0;
}

.collection .product .main:hover
{
    box-shadow: 3px 3px 5px grey;
    opacity: 0.5s;
    transition: 0.5s;
}

.collection .product .collection-product .wrapper1
{
    padding-top: 25%;
}

.collection .product .collection-product .wrapper1 img
{
    width: 100%;
}




















@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 1366px)
{
    .top-bar .nav li a
    {
        font-size: 15px;
        padding: 27px 20px 33px 20px;
    }

    .top-bar .btn1
    {
        margin-left: 13px;
    }
}

@media screen and (max-width: 768px)
{
    .top-bar .nav li a
    {
        font-size: 15px;
        padding: 27px 10px 33px 10px;
    }

    .top-bar .btn1
    {
        margin-left: 10px;
    }

    .top-bar .btn1 a
    {
        font-size: 13px;
    }

    .promo
    {
        padding: 25px 13%;
        text-align: center;
    }

    .promo .blue i
    {
        padding: 5px 13px 5px 13px;
    }

    .promo .green i
    {
        padding: 5px 13px 5px 13px;
    }

    .promo .pink i
    {
        padding: 5px 13px 5px 13px;
    }

    .promo .skyblue i
    {
        padding: 5px 13px 5px 13px;
    }

    .promo .orange i
    {
        padding: 5px 13px 5px 13px;
    }

    .promo .blue a
    {
        font-size: 18px;
    }

    .promo .green a
    {
        font-size: 18px;
    }

    .promo .pink a
    {
        font-size: 18px;
    }

    .promo .skyblue a
    {
        font-size: 18px;
    }

    .promo .orange a
    {
        font-size: 18px;
    }

    .items .online .imgs1 .heading1 .photo img
    {
        width: 25%;
        top: -5px;
    }

    .items .online .heading1 h6
    {
        font-size: 12px;
    }


    
}

@media screen and (max-width: 600px)
{
    .top-bar .logo
    {
        display: block;
        margin: auto;
    }

    .openbtn
    {
        display: block;
    }

    .mobile-nav
    {
        display: block;
    }

    .top-bar .nav
    {
        display: none;
    }

    .promo
    {
        padding: 10% 0 10% 0;
        text-align: center;
    }

    .promo .blue a
    {
        font-size: 20px;
    }

    .promo .green a
    {
        font-size: 20px;
    }

    .promo .pink a
    {
        font-size: 20px;
    }

    .promo .skyblue a
    {
        font-size: 20px;
    }

    .promo .orange a
    {
        font-size: 20px;
    }

    .items
    {
        padding: 15% 0 25px 0;
    } 

    .items .online
    {
        padding: 0;
    }

    .items .online .imgs1
    { 
        padding-top: 5%;
    }

    .items .online .imgs1 .heading1 .photo img
    {
        width: 15%;
        display: block;
        margin: auto;
        top: -30px;
    }

    .items .online .heading1
    {
        text-align: center;
        background-color: black;
        padding: 0 0px 20px 0px;
    }

    .items .online .heading1 h6
    {
        font-size: 17px;
    }

    .collection
    {
        display: none;
    }


    
}

@media screen and (max-width: 425px)
{
    
}

@media screen and (max-width: 375px)
{
    
}